@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Contact";
}

<p>
    <table class="center">
        <tr>
            <td>
                Mobile
            </td>
            <td>
                xxxxxxxxx
            </td>
         </tr>
        <tr>
            <td>
                Email ID
            </td>
            <td>
                zzzzzzz@gmail.com
            </td>
        </tr>
    </table>
</p>