@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Project";
}


<p>
    <h3>GitHub Assignment Links</h3>

    <table class="center">
        <tr>
            <td>
                <a href="https://github.com/ShreyaSai1908/Assignment1-Calculator-.git">Calculator Assigment</a>
            </td>

            <td>
                <h4>Description</h4>
                We got a challenge to make a digital calculator using C# code.
            </td>
         </tr>
         <tr>
            <td>
                <a href="https://github.com/ShreyaSai1908/Assignment2_Hangman.git">Hangman Assignment</a>
            </td>

            <td>
                <h4>Description</h4>
                We got a challenge to make a game using C# coding.
            </td>
        </tr>
    </table>

</p>